


/*	GENERAL	*/

body {
	overflow: hidden;

	background: #656565;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main-menu {
	background: brown;
	margin-top: -794px;
}

.down {
	animation: dn 0s linear forwards;
}

@keyframes dn {
	from {
		margin-top: -794px;
	}
	to {
		margin-top: 0;
	}
}

.game-container {
	height: 794px;
	width: 990px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*	LEFT SIDE	*/

.menu-left {
	background: brown;
/*
	height: 792px;
	width: 198px;
*/
	height: 100%;
	width: 20%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#minimap {
	background: black;
/*
	height: 198px;
	width: 198px;
*/
	height: 25%;
	width: 100%;

	border-radius: 100%;
}

#party-menu {
	background: gold;
/*
	height: 62.5%;
	width: 92.5%;
*/
	height: 62.5%;
	width: 92.5%;
}

/*	MIDDLE	*/

.menu-center {
	background: green;

	height: 100%;
	width: 60%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#display-container {
	overflow-y: scroll;

	background: white;

	height: 62.5%;
	width: 99%;
}

#display-container::-webkit-scrollbar {
	width: 0;
}

#display-window {
	padding: 10% 5%;

	width: 90%;
}

#control-window {
	background: purple;

	height: 27%;
	width: 99%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button-row {
	background: pink;

	height: 33.3%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ctrl-button {
	background: red;
	opacity: 0.3;

	height: 100%;
	width: 20%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.ctrl-button p {
	user-select: none;
}

.enabled {
	opacity: 1;
}

.enabled:hover {
	background: rgba(255,100,100,1);
}

.enabled:active p {
	transform: scale(0.9);
}

/*	RIGHT SIDE	*/

.menu-right {
	background: red;

	height: 100%;
	width: 20%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#show-time {
	height: 25%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.show-time-idle {
	animation: sti 60s linear forwards infinite;
}

@keyframes sti {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.button {
	background: red;

	height: 20%;
	width: 90%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button p {
	user-select: none;
}

.button:hover {
	background: rgba(255,255,255,0.4);
}

.button:active p {
	transform: scale(0.9);
}

#enemy-menu {
	background: gold;

	height: 62.5%;
	width: 92.5%;
}